.contact{
    background-image: url("./images/metro.jpg");
    height: 90vh;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.contact__box{
    text-align: center;
}
.contact__title{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: aliceblue;
    margin-top: 34vh;
    margin-bottom: 25px;
}
.contact__hr{
    width: 100px;
    display: inline-block;
    color: black;
    opacity: 0.4;
    margin-bottom: 25px;
}
.contact__text{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 60px;
    color: aliceblue;
    margin-bottom: 35px;
}
.contact__btn{
    width: 150px;
    height: 45px;
    background: white;
    color: #22b3c1;
    border: none;
    border-radius: 30px;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 13vh;
}
.contact__btn:hover{
    color:aliceblue;
    background: #22b3c1;
}
.contact__list{
    display: flex;
    justify-content: space-between
}
.contact__item{
    width: 350px;
    height: 180px;
    background: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 1px 4px 2px 1px rgb(234, 233, 233);
    margin-bottom: 50px;
}
.contact__icon{
    margin-top: 15px;
    color: #22b3c1;
    padding: 20px;
    border-radius: 50px;
    background: rgb(233, 233, 233);
    border: none;
    margin-bottom: 20px;
}
.contact-list__title{
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 15px;
}
.contact__link{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15xp;
    color: #22b3c1;
}
.contact__maps{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.map{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.contact-btns__title{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color:black;
    margin-bottom: 50px;
}
.contact__span{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    color: #22b3c1;
}
/* ---------------------------------register--------------------------- */
.register{
    margin-bottom: 150px;
}
.register__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
/* -----------------------------name-------------------- */
.name{
    display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    color: black;
    opacity: 0.4;
    margin-bottom: 10px;
}
.name__input{
    width: 70vh;
    height: 45px;
    border: 1px solid rgb(177, 176, 176) ;
    border-radius: 30px;
    color: black;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    text-transform: capitalize;
}
.name__input::placeholder{
    padding-left: 20px;
    font-family: "Montserrat";
    font-size: 15px;
}
/* --------------------------number------------------------ */
.number{
    display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    color: black;
    opacity: 0.4;
    margin-bottom: 10px;
}
.number__input{
    width: 68vh;
    height: 45px;
    border: 1px solid rgb(177, 176, 176) ;
    border-radius: 30px;
    color: black;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}
.number__input::placeholder{
    padding-left: 20px;
    font-family: "Montserrat";
    font-size: 15px;
}
/* ----------------------guest--------------------- */
.input__three{
    position: relative;
    z-index: 5;
}
.guest__dropdown {
  position: absolute;
padding-left: 5px;
}
.guest{
    display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    color: black;
    opacity: 0.4;
    margin-bottom: 10px;
    margin-top: 15px;
}
.guest__input{
    width: 68vh;
    height: 45px;
    border: 1px solid rgb(177, 176, 176) ;
    border-radius: 30px;
    font-family: "Montserrat";
    font-size: 16px;
    color: black;
    font-weight: 600;
    padding-left: 20px;
}
.guest__input::placeholder{
    font-family: "Montserrat";
    font-size: 15px;
    color: black;
    font-weight: 600;
    padding-left: 20px;
}
.guests{
    width: 70vh;
    height: 30px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    background: white;
}
.guests:hover{
    background: #4a6cf5;
    width: 70vh;
}
.guest__dropdown{
border: 2px solid rgb(0, 0, 0) ;
    width: 70vh;
    height: 150px;
}
/* ----------------date---------------------- */
.date{
    display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    color: black;
    opacity: 0.4;
    margin-bottom: 10px;
    margin-top: 15px;
}
.date__input{
    width: 69vh;
    height: 45px;
    border: 1px solid rgb(177, 176, 176) ;
    border-radius: 30px;
    padding-left: 20px;
    font-family: "Montserrat";
    font-size: 16px;
    color: rgb(173, 173, 173);
}
/* -------------------region----------------- */
.input__four{
    position: relative;
    z-index: 4;
}
.choos__dropdown{
    position: absolute;
}
.choos{
 display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    color: black;
    opacity: 0.4;
    margin-bottom: 10px;
    margin-top: 25px;
}
.choos__input{
      width: 98%;
    height: 45px;
    border: 1px solid rgb(177, 176, 176) ;
    border-radius: 30px;
    color: black;
    font-size: 16px;
    padding-left: 20px;
    font-family: "Montserrat";
    font-weight: 500;
}
.choos__dropdown{
    border: 2px solid rgb(0, 0, 0) ;
    width: 100%;
    height: 270%;
    padding-left: 10px;
    background: white;
}
.choose{
    width: 100%;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    background: white;
    margin-bottom: 10px;
}
.choos__input::placeholder{
    padding: 20px;
    color: black;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
}
.choose:hover{
    background: #4a6cf5;
    width: 100%;
}
/* ------------------------visa------------- */
.input__five{
     position: relative;
    z-index: 3;
}
.visa{
    display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    color: black;
    opacity: 0.4;
    margin-bottom: 10px;
    margin-top: 25px;
}
.visa__input{
      width: 98%;
    height: 45px;
    border: 1px solid rgb(177, 176, 176) ;
    border-radius: 30px;
    color: black;
    font-size: 16px;
    padding-left: 20px;
    font-family: "Montserrat";
    font-weight: 500;
}
.visa__dropdown{
    border: 2px solid rgb(0, 0, 0) ;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: white;
}
.vise{
    width: 100%;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    background: white;
    margin-bottom: 10px;
}
.visa__input::placeholder{
    padding: 20px;
    color: black;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
}
.vise:hover{
    background: #4a6cf5;
    width: 100%;
}
/* ------------------------button---------------- */
.btn{
    width: 100%;
    height: 45px;
    border-radius: 30px;
    background: #22b3c1;
    color: white;
    border: none;
    margin-top: 25px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
}
.btn:hover{
    background: white;
    color: #22b3c1;
    border: 1px solid #22b3c1
}
/* . */