.tours {
    margin-top: 50px;
}

.tours__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}

.tours__text {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    color: black;
    opacity: 0.7;
    width: 730px;
    text-align: center;
    margin-left: 19%;
    line-height: 30px;
}

.tours__list {
    margin-top: 150px;
    display: flex;
    margin-bottom: 100px;
}

.tours__item {
    width: 250px;
    height: 320px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 3px rgb(223, 222, 222);
    padding: 20px;
    border-radius: 25px;
}

.tours__btn {
    width: 180px;
    height: 40px;
    border-radius: 40px;
    background: #22b3c1;
    border: none;
    color: aliceblue;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    margin-left: 35px;
}

.tours-list__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.listt__span {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    color: #22b3c1;
}

.list__span {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    color: #22b3c1;
    margin-left: 100px;
}

.tours__span {
    margin-left: 35px;
}

.tours-list__text {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 800px;
    margin-bottom: 20px;
    color: black;
    opacity: 0.4;
}

.tours-list-one__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.tours-list-one__text {
    align-items: center;
    display: flex;
    gap: 5px;
    color: black;
    opacity: 0.4;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;
}

.tours-list-two__text {
    align-items: center;
    display: flex;
    gap: 5px;
    color: black;
    opacity: 0.4;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;
}

.tours-list-three__text {
    align-items: center;
    display: flex;
    gap: 5px;
    color: black;
    opacity: 0.4;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 40px;
}

.img__one {
    width: 320px;
    height: 360px;
    position: absolute;
    margin-top: -70px;
    margin-left: -160px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    z-index: -1;
}

.slider {
    text-align: center;
}

.swiper__btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    color: #22b3c1;
    margin-right: 20px;
    font-size: 25px;
    background: none;
    border: 1px solid #22b3c1;
}

.swiper__btn:hover {
    background: #22b3c1;
    color: aliceblue;
}
/* ----------------------responsiv-------------------------- */
@media (max-width:990px){
    .tours{
        max-width: 990px;
    }
    .tours__text{
        margin-left: 60px;
        width: 800px;
    }
    
    .tours__list{
        margin-left: 150px;
        
    }
    
    .img__one{
        width: 200px;
        height: 200px;
        margin-left: -45px;
    }
}
@media(max-width:768px){
    .tours{
        max-width: 768px;
    }
    .tours__text{
        margin-left: 75px;
        width: 550px;
    }
    
    .tours__list{
        margin-left: 400px;
        
    }
    
    .img__one{
        width: 550px;
        height: 500px;
        margin-left: -420px;
    }
}
@media(max-width:670px){
    .tours{
        max-width: 670px;
    }
    .tours__text{
        margin-left: 30px;
        width: 550px;
    }
    
    .tours__list{
        margin-left: 340px;
        
    }
    
    .img__one{
        width: 500px;
        height: 400px;
        margin-left: -350px;
    }
}
@media(max-width:550px){
    .tours{
        max-width: 550px;
    }
    .tours__text{
        margin-left: 1px;
        width: 540px;
    }
    
    .tours__list{
        margin-left: 210px;
        
    }
    
    .img__one{
        width: 380px;
        height: 420px;
        margin-left: -230px;
    }
}
@media(max-width:480px){
    .tours{
        max-width: 480px;
    }
    .tours__text{
        margin-left: 1px;
        width: 450px;
    }
    
    .tours__list{
        margin-left: 140px;
        
    }
    .tours__title {
        width: 400px;
        font-size: 25px;
    }
    .img__one{
        width: 280px;
        height: 430px;
        margin-left: -150px;
    }
}
@media(max-width:412px){
    .tours{
        max-width: 412px;
    }
    .tours__text{
        width: 350px;
        font-size: 14px;
        margin-left: 15px;
    }
    
    .tours__list{
        margin-left: 70px;
        
    }
    .tours__title {
        width: 350px;
        font-size: 25px;
    }
    .img__one{
        width: 200px;
        height: 300px;
        margin-left: -90px;
    }
}
@media(max-width:360px){
    .tours{
        max-width: 360px;
    }
    .tours__text{
        width: 320px;
        font-size: 14px;
        margin-left: -15px;
    }
    
    .tours__list{
        margin-left: -120px;
        
    }
    .tours__title {
        width: 350px;
        font-size: 25px;
        margin-left: -30px;
    }
    .img__one{
        width: 200px;
        height: 200px;
        margin-left: -95px;
    }
}